body {
    font-family: sans-serif;

}
header {
    box-shadow: 0px 3px 10px rgba(0,0,0.2);
    position: sticky; /*fixed it */ 
    top:0px;
    background:linear-gradient(to right top,#f46b45,#eea849);
}
nav {
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* throws everything left and right sides(logo and text) */

}
header li {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}
ul li {
    margin-left: 120px; /*space between two li's */
}
.kurum {
    position: relative;
    right:40px;
}
nav a {
    text-decoration: none;
    color: azure;
}
#button{
    position: relative;
    top:-82px;
    left:800px;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 26px;
    
   background-color: #008CBA;
  color: black; 
  border: 2px solid #f46b45 ;
}
#button:hover {
  
  color: white; }